.Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.header {
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  margin: 0 0 110px 0;
  padding: 17px;
}

.header h2 {
  margin: 0 0 7px 0;
  font-size: 16px;
}

.header h3 {
  margin: 0 0 3px 0;
}
.header p {
  margin: 0;
  font-weight: 400;
}

.divider {
  background-color: #ebeced;
  height: 10px;
}

.middle {
  /* height: 89px; */
  padding: 17px 17px 0;
  background-color: #fff;
}

.middle h2 {
  font-size: 16px;
  font-weight: 500;
  margin:0 0 15px 0;
}

.tabZone {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.tabLeft {
  padding: 14px 0;
  width: 100%;
  background-color: #fff;
  color:#f75656;
  border-bottom: 2px solid #f75656;
}

.tabRight {
  padding: 14px 0;
  width: 100%;
  background-color: #fff;
}

.body{
  
}
