.Container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.InnerContainer {
  height: 100%;
  display: flex;
}

.image {
  width: 100%;
  height: 100%;
}

.dots {
  position: absolute;
  display: flex;
  bottom: 10px;
  right: 20px;
}

.dot {
  margin-right: 10px;
  width: 14px;
  height: 14px;
  border-radius: 50px;
  background-color: #fff;
  display: inline-block;
  cursor: pointer;
}
