.totalContainer {
  background-color: #eee;
  max-width: 672px;
  margin: auto;
  padding: 17px;
  font-weight: 600;
}

.navContainer {
  display: flex;
  justify-content: space-between;
}

.navImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.navDetailContents {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}
